<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head> -->

<% layout("/layouts/boilerplate") %>
<body>
  <form method="POST" action="/listings/<%= listingDetail._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="row">
      <div class="col-8 offset-2">
        <form action="/listings" method="post" >
          <div class="mb-3">
            <label for="title" class="form-label"><b>Title</b></label>
            <input
              name="listing[title]"
              value="<%= listingDetail.title %>"
              type="text"
              class="form-control"
              required
            />
            <div class="valid-feedback">The Title is Perfect</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label"><b>Description</b></label>
            <textarea
              name="listing[description]"
              placeholder="Enter Description"
              type="text"
              class="form-control"
              required
            >
<%= listingDetail.description %></textarea
            >
            <div class="invalid-feedback">The Description is too long</div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label"><b>Upload New Image</b></label>
            <input
              name="listing[image]"
              type="file"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <b><p>Current Image Preview</p></b>
            <img src="<%= originalImageUrl %>" alt="previewImg" class="show-img">
          </div>

          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label"><b>Price</b> </label>
              <input
                name="listing[price]"
                value="<%= listingDetail.price %>"
                type="number"
                class="form-control"
                required
              />
              <div class="invalid-feedback">
              Enter valid price for your listing
            </div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label"><b>Country</b> </label>
              <input
                name="listing[country]"
                value="<%= listingDetail.country %>"
                type="text"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Country Details</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label"><b>Location</b> </label>
            <input
              name="listing[location]"
              value="<%= listingDetail.location %>"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter location</div>
          </div>

          <br /><br />
          <button class="btn btn-dark update-btn"><b>Update</b></button>
          <br /><br />
      </div>
    </div>
  </form>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  "use strict";

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll(".needs-validation");

  // Loop over them and prevent submission
  Array.from(forms).forEach((form) => {
    form.addEventListener(
      "submit",
      (event) => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }

        form.classList.add("was-validated");
      },
      false
    );
  });
})();

  </script>
</body>
<!-- </html> -->
